:host {
  border: 5px solid #333;
  border-radius: 5px;

  --editor-font-size: 16px;
  --editor-line-height: 1.5;
  --editor-font-family: monospace;

  //--editor-min-width: 500px;
  //--editor-min-height: 200px;

  --editor-min-width: 800px;
  --editor-min-height: 500px;

  --editor-line-bar-width: 50px;

  --editor-background: #333;
  --editor-border: #888;
  --editor-color: #fff;

  --editor-selection-background: rgba(0, 192, 255, 0.5);
  --editor-selection-color: #fff;

  --editor-caret-color: #fff;
  --editor-caret-shape: underscore;

  --editor-scrollbar-color: #888888 rgba(17, 17, 17, 0.5);
  --editor-scrollbar-width: thin;
}

.editor {
  display: flex;
  flex-direction: row;

  background: var(--editor-background);
}

.editor-lines {
  position: absolute;
  left: -3px;

  min-width: var(--editor-line-bar-width);
  height: 100%;

  background: #222;
  color: #888888;

  z-index: 1;

  margin-right: 2px;
  border-right: 1px solid var(--editor-border);

  border-radius: 5px;

  .editor-lines-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: relative;
    left: 1px;

    background: #222;
    border-right: 1px solid var(--editor-border);
  }
}

.max-width {
  background: red;
}

.editor-wrapper {
  min-width: var(--editor-min-width);
  min-height: var(--editor-min-height);

  position: relative;
  overflow: hidden;

  background: var(--editor-background);
  color: var(--editor-color);

  ::-moz-selection { /* Code for Firefox */
    background: var(--editor-selection-background);
  }

  ::selection {
    background: var(--editor-selection-background);
  }

  .editor-layer {
    background: transparent;
    position: absolute;

    top: 0;
    left: var(--editor-line-bar-width);

    width: calc(100% - var(--editor-line-bar-width));
    height: 100%;
  }
}

.spacing {
  color: var(--editor-border);
}

.errors {
  color: transparent;
}

code,
.code{
  unicode-bidi: isolate;
  white-space: pre;
  font-size: var(--editor-font-size);
  font-family: var(--editor-font-family), monospace;
}

textarea {
  padding: 0;
  margin: 0;

  border: none;
  outline: none;
  resize: none;

  color: transparent;

  caret-color: var(--editor-color);
  caret-shape: var(--editor-caret-shape);

  scrollbar-color: var(--editor-scrollbar-color);
  scrollbar-width: var(--editor-scrollbar-width);

  &:disabled {
    cursor: not-allowed;
    background: rgba(50, 50, 50, 0.8) !important;
  }
}
