<div class="editor">
  <div class="editor-wrapper">
    <div
      class="editor-lines"
      style="top: {{scrollTop}}px;">
      <div class="editor-lines-li">
        @for (line of getLinesNumber(_code); track line) {
          <code>{{ line }}</code>
        }
      </div>
    </div>

    <code
      class="editor-layer code spacing"
      [innerHTML]="_code | showMaxLength: 80"
      style="top: {{scrollTop}}px; left: {{scrollLeft}}px; width: {{width}}px; height: {{height}}px;">
    </code>

    <code
      class="editor-layer code spacing"
      [innerHTML]="_code | showSpace"
      style="top: {{scrollTop}}px; left: {{scrollLeft}}px;">
    </code>

    <code
      class="editor-layer code highlight"
      [innerHTML]="_code | highlight: language"
      style="top: {{scrollTop}}px; left: {{scrollLeft}}px;">
    </code>

    <code
      class="editor-layer code errors"
      [innerHTML]="_code"
      style="top: {{scrollTop}}px; left: {{scrollLeft}}px;">
    </code>

    <textarea
      #editor
      class="editor-layer code editor"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [(ngModel)]="_code"
      autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      (scroll)="onEditorScrollUpdate()">
  </textarea>
  </div>

</div>

